<div align="center" style="font-family: 'Roboto', sans-serif; width:500px; margin: 0 auto;">
    <h1>Lowcate</h1>
    <p>To reset your password please press the following button.</p>
    <a href="{link}"><button style="
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgba(0, 38, 143, 0.5); 
        color: rgba(255, 255, 255, 1);
        border-style: solid;
        border-radius: 5px;
        border-color: rgba(0, 38, 143, 0.02);
        font-size: 15px;
        font-weight: bold;
        ">
        Reset Password
        </button>
    </a>
    <p>If pressing this button doesn't work, copy paste the following link into your URL bar:</p>
    <b>{link}</b>
</div>